.container {
  margin: 60px auto;
  max-width: 800px;
}

h1 {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: "Playfair Display", serif;
  text-align: center;
}
