:root {
  --primary-color: #f9f3f3;
  --secondary-color: #f25287;
  --heading-font-family: "Special Elite", cursive;
}

html {
  font-family: "Playfair Display", serif;
  font-size: 16px;
}

.text-logo {
  font-family: var(--heading-font-family);
  font-size: 24px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 44px;
}

.navbar {
  background-color: var(--primary-color);
}

.container {
  margin: 60px auto 20px;
}

.container-homepage {
  min-height: calc(100vh - 455px);
}

.container-grid {
  max-width: 1000px;
  min-height: calc(100vh - 203px);
}

h1,
h4 {
  text-align: center;
}

.hero {
  margin-top: 56px;
  background-color: var(--primary-color);
  padding: 40px 20px;
}

.content-title {
  padding: 20px;
}

.card-project {
  border: 0;
  padding: 15px 25px;
  background-color: var(--primary-color);
  border-radius: 15px;
}
.btn {
  color: var(--secondary-color);
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 10px;
}

.btn:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
}

.weather-container {
  width: 280px;
  margin: auto;
}

.peach-container {
  width: 260px;
  margin: auto;
}

.contact-content {
  text-align: center;
}

.social-text {
  text-align: right;
}

.social-link {
  margin-left: 15px;
}

footer {
  color: var(--secondary-color);
  background-color: #f7d9d9;
}

.footer-container {
  max-width: 1000px;
  margin: auto;
  padding-top: 15px;
}

.footer-container a {
  color: var(--secondary-color);
}

.footer-container a:hover {
  color: black;
}

.footer-link {
  text-decoration: none;
}

@media (max-width: 900px) {
  h2 {
    font-size: 32px;
  }

  .btn-apps {
    font-size: 14px;
  }
}
